node_modules
dist
build
*.local
.DS_Store
src-tauri/target
src-tauri/**/*.d.ts
.idea
.vscode
.rs
.toml
src-tauri/config/.*
pnpm-lock.yaml
/build.bat
/stats.html
/README.md
/pnpm-workspace.yaml
/LICENSE
/package.json
/.gitignore
/src-tauri/Cargo.lock
/src-tauri/gen/
